/* Override */
.checkbox.pull-right {
  margin: 0;
}

.entry-header {
  padding-bottom: 5px !important;
}

/* Component */
.payment-title {
  font-weight: 700;
  font-size: 2em;
  /*text-align: center;*/
}

.payment-description,
.payment-error {
  /*text-align: left;*/
  max-width: 450px;
  /*margin: auto;*/
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}

.payment-btn,
.back-btn {
  padding: 10px 30px;
  color: #fff;
  border-radius: 4px;
	font-size: 1.3em;
}

.payment-btn {
	width: 60%;
}

.back-btn {
	width: 38%;
}

.payment-btn:disabled {
  background-color: #9C98A6;
  cursor: not-allowed !important;
}

.back-btn {
	background-color: #9C98A6;
}

.back-btn:hover {
  background-color: #898691;
}

.payment-error {
  color: #b44;
}

@media screen and (min-width: 720px) {
  .btn-container {
    justify-content: flex-start;
  }

  .payment-btn{
    width: 30%;
  }

  .back-btn {
		width: 19%;
    margin-left: 1%;
  }
}

/* hide syntax loading */
[v-cloak] {
  display: none;
}
